@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

:root {
    --bs-font-sans-serif: 'Fredoka One';
    font-size: 30px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 80px;
    color: #594155;
    /*text-align: center;*/
    position: absolute;
    top: 50px;
    left: 35%;
    z-index: 10;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*padding: 50px;*/
}
h5{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;

}

img {
    width: 100px;
}
.game-board {
    /*top: 20px;*/
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    /*border: 1px solid black;*/
    margin: auto;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.508);
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.508);;
    cursor: pointer;
    perspective: 1000px;

}

.game-card {
    height: 90px;
    width: 90px;
    position: relative;
    /*box-shadow:1px 1px 2px 1px #bfacbc87;*/
    margin: 5px;
    border-radius: 7px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}

game-card:hover {
    opacity: 0.5;
    color:rgba(250, 235, 215, 0.79);
    cursor: pointer;
}

.game-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.game-board-easy {
  width: 640px;
  height: 350px;
  grid-template-rows: 1fr 1fr 1fr;
}

.game-board-medium {
  width: 640px;
  height: 480px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.game-board-hard {
  width: 640px;
  height: 520px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.game-board-demo {
  width: 640px;
  height: 100px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 7px;
    color:rgba(250, 235, 215, 0.79);

}

.card-front {
    transform: rotateY(180deg);
}

#canvas1 {
    position: absolute;
    background: linear-gradient(to left, rgba(183, 166, 69, 0.67), rgba(114, 66, 114, 0.64));
    width: 100%;
    height: 100%;
}

#menu, #player-points {
    top: 200px;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    margin: auto;
    border-radius: 8px;
    background: hsla(303, 69%, 95%, 0.42);
    perspective: 1000px;
}

.button-menu, #button-menu {
    border-radius: 8px;
    background: hsla(303, 69%, 95%, 0.22);
    padding-left:  10px;
    padding-right:  10px;

}

.invisible {
    display: none;
}


#state {
  background: rgba(255, 255, 255, 0.508);
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.508), #6b58926b);
  background-size: 400%;
  width: 45%;
  line-height: 30px;
  left:27%;
  margin: 10px 0 0 10px;
  border-radius: 7px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.829);
  font-size: 16px;
  position: relative;
  perspective: 1000px;
    top: 50px;
}

#time {
    padding-left: 20px;
}

#time::after {
    content: " sec";
}

#score {
    float: right;
    padding-right: 20px;
}

#score::after {
    content: " points";
}

#button-menu {
    position: absolute;
    left:87%;
    top: 50px;
    border-radius: 8px;
    background: hsla(303, 69%, 95%, 0.22);
    padding-left:  10px;
    padding-right:  10px;

}
.o {
    position: relative;
    top: -7px;
    height: 70px;
    width: 70px;
}