@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 80px;
    color: #594155;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 31%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

img {
    width: 100px;
}
.game-board {
    width: 640px;
    height: 640px;
    position: absolute;
    top: 200px;
    left: 33%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    border: 15px solid #fef2fb;
    margin: auto;
    border-radius: 8px;
    background: #fef2fb;
    perspective: 1000px;

}

.game-card {
    height: calc(25% - 10px);
    width: calc(16.667% - 10px);
    position: relative;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}

.game-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid grey;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

#canvas1 {
    background: linear-gradient(to left, rgba(231, 231, 128, 0.17), rgba(201, 119, 201, 0.64));
    width: 100%;
    height: 100%;

}
