* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: bisque;
}

h1 {
    text-align: center;
    padding: 50px;
}

img {
    width: 100px;
}
.game-board {
    width: 640px;
    height: 640px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    perspective: 1000px;
}

.game-card {
    height: calc(25% - 10px);
    width: calc(16.667% - 10px);
    position: relative;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform.5s;
}

.game-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid grey;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}
